/node_modules
/public/hot
/public/storage
/public/web_files/request_sell/*
/public/web_files/news/*
/public/web_files/truck/*
/public/web_files/user_profile/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
